.page-footer{
    margin-top: 6rem;
}
#footer{
    background-image: linear-gradient(90deg, #6680EF 17%, #459AD6 95%);

    img{
        margin-top:-30px;
    }
}

.svg-row{
    padding-top: 11%;
    overflow: hidden;
    background-image: url(img/footer-svg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}