body{
    background-color: #F9F9F9
}

.is-family-secondary{
    font-family: $family-secondary
}
.is-family-primary{
    font-family: $family-primary
}


.home-hero{
    background-image: none;
    background-color: #fffdf9;
}
@media screen and (min-width: 1088px){
    .home-hero {
        background-image: url(img/head-bg.png);
        background-repeat: no-repeat;
        background-position: 100% 40%;
        background-size: 50% auto;
    }
}


.inline-center {
    display: flex;
    justify-content: center;
    align-items: center;
    &>* {
        margin:8px
    }
}
.inline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &>* {
        margin:8px
    }
}
@media screen and (max-width: 1087px){
    .is-tablet-center{
        text-align: center;
        
        div[class*='m-r-'] {
            margin-right:0 !important;
        }
    }
    .inline.inline-tablet-center {
        justify-content: center;
    }
    
}


.table-container {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
}

.resp-image{
    width: 100%;
    height: auto;
}

.hide-mobile{
    display:none;
}
@media screen and (min-width: 1088px){
    .hide-mobile {
        display: initial;
    }
}