.link-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFC758;
    color: $white;
    text-align: center;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
    font-family: $family-secondary;
    min-width: 120px;

    &:hover, 
    &:focus{
        background: #79b0f5;
        color: $white;
        box-shadow: 0 10px 23px -4px #00000021;
        transform: translateY(-2%);
    }
    
    .icon-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30% 0;

        i{
            font-size: 2.4rem;
        }
    }

    .text{
        margin: 0 10%;
        padding: 4% 0;
        border-top: 2px solid $white-ter;
        font-weight: bold;
        font-size: 1rem;
    }


    &.is-disable{
        opacity: 0.3;
        pointer-events: none;
    }
}