p{
    margin-bottom: 1.5rem;
}

h1,h2,h3,h4,h5{
    font-weight: bold;
}
h1{
    margin-bottom: 3rem;
}
h2{
    margin-bottom: 2.5rem;
}
h3{
    margin-bottom: 2rem;
}
h4{
    margin-bottom: 1.7rem;
}